.navbar-brand img {
  height: 70px; }

#navbarNav {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.navbar-brand {
  padding-left: 15%; }

/*.header {
    flex-direction: row;
    background-image: url('1.jpg');
    background-repeat: no-repeat;
    background-size: 1920px 1000px;
    background-position-x: -78px;
}
.missPlace {
    height: 500px;
    background-image: url('accounting.jpg');
    
}*/
.mainTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 95vh;
  width: 45%;
  color: white;
  text-align: center;
  background-color: rgba(0, 71, 153, 0.3); }
  .mainTitle .title {
    font-weight: bold;
    font-size: 4vw; }
  .mainTitle nobr {
    margin-top: -10px;
    font-size: 2vw; }
  .mainTitle .description {
    max-width: 240px;
    width: 100%; }
  .mainTitle p {
    margin-top: -1px;
    margin-bottom: -1px;
    font-size: 1.1vw; }

.header_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  .header_2 .Inscription {
    color: #00305b;
    margin-top: -15%;
    font-size: 38px; }
  .header_2 .InscriptionFat {
    color: #00305b;
    font-size: 40px;
    font-weight: bold; }

.workList {
  z-index: 10;
  padding: 0px 0px; }
  .workList li {
    color: #41b7c4; }
  .workList li span {
    color: #00306f; }
  .workList .list-item {
    font-size: 26px;
    margin: 0px 20px; }
  .workList .description {
    color: #00305b;
    margin: 20px 8px;
    font-size: 20px; }

.title_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #eaf4f6;
  width: 45%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 30vw;
  padding-top: 3vw; }

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: #ffffff;
  width: 55%; }
  .list .parth {
    padding: 50px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 40px; }
    .list .parth ul {
      list-style-type: square; }

.article_1 {
  z-index: 10;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background-color: #00305b;
  color: #ffffff;
  text-align: center; }
  .article_1 .article-item {
    font-size: 20px; }
    .article_1 .article-item :first-child {
      font-weight: bold; }
  .article_1 .article-header {
    font-size: 26px; }

.aboutUs {
  margin-left: 25%;
  width: 50%;
  padding-top: 25px;
  padding-bottom: 25px;
  padding: 50px; }

.ourSpecialist {
  color: white;
  text-align: center;
  background-color: #00305b; }

.headline {
  padding-top: 40px; }

.specTable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.specialist {
  text-align: center;
  padding: 15px 25px;
  color: white; }
  .specialist img {
    height: 450px;
    width: 300px;
    margin: 15px; }
  .specialist li {
    line-height: 1px; }
  .specialist ul {
    list-style-type: none;
    margin-left: -20px; }
  .specialist .underline {
    border-top: solid black 1px;
    margin: 35px 0px 45px 0px; }

.article_2 {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  .article_2 .Inscription {
    color: #00305b;
    margin-top: -15%;
    font-size: 38px;
    margin-bottom: 30px; }
  .article_2 .InscriptionFat {
    color: #00305b;
    font-size: 40px;
    font-weight: bold; }

.priceTabs {
  z-index: 10; }
  .priceTabs a {
    color: #00305b;
    cursor: pointer;
    text-decoration: none; }
  .priceTabs a:hover {
    color: #00305b;
    text-decoration: none; }
  .priceTabs li {
    color: #41b7c4; }
  .priceTabs .list-item {
    font-size: 26px;
    margin: 40px 1px; }
    .priceTabs .list-item span {
      color: #00305b; }

.title_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #eaf4f6;
  width: 45%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 30vw;
  padding-top: 3vw;
  height: 400px; }

.list_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: #ffffff;
  width: 55%; }
  .list_price .parth {
    padding: 22px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .list_price .parth ul {
      list-style-type: square; }
  .list_price .parth_two {
    padding: 22px 160px; }

.contactTab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  .contactTab .Inscription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(0, 71, 153, 0.3);
    color: #ffffff;
    width: 45%;
    text-align: right;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .contactTab .Inscription .InscriptionText {
      font-size: 25px;
      margin: -1px 30px -1px 0px; }
    .contactTab .Inscription .InscriptionText.Fat {
      margin: 20px 30px -1px 0px;
      font-weight: bold; }
  .contactTab .Info {
    background-color: rgba(52, 99, 153, 0.3);
    color: black;
    width: 55%;
    min-height: 215px;
    max-height: 700px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .contactTab .Info .leftParth {
      position: relative;
      margin: 20px 0px 0px 30px;
      text-align: left; }
      .contactTab .Info .leftParth .pleace {
        height: 20px; }
      .contactTab .Info .leftParth a {
        border: solid blue 1px;
        border-radius: 4px;
        padding: 3px;
        margin-left: 10px;
        font-size: 20px;
        cursor: pointer; }
      .contactTab .Info .leftParth nobr {
        font-size: 16px; }
      .contactTab .Info .leftParth .title nobr {
        font-size: 25px; }
    .contactTab .Info .map {
      margin: 12px;
      height: 500px;
      width: 700px; }
    .contactTab .Info .fat {
      font-weight: bold; }
    .contactTab .Info .numbers {
      margin-top: 25px;
      width: 50px; }
      .contactTab .Info .numbers li {
        list-style-type: none; }
        .contactTab .Info .numbers li p {
          font-size: 1vw; }

.footor {
  padding: 10px 0px;
  background-color: #00305b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #ffffff;
  text-align: center; }
  .footor ul {
    list-style-type: none; }
  .footor img {
    height: 30px;
    width: 40px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.parth_two {
  padding: 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 40px; }
  .parth_two ul {
    list-style-type: square; }

/*.priceTab {
    min-height: 300px;
    max-height: 400px;
    height: 100%;
    display: flex;
    flex-direction: row;
    .title {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        font-size: 25px;
        width: 45%;
        background-color: lightblue;
        color: white;
        text-align: center;
        .textConteiner {
            margin: 30px 30px -1px 0px;
        }
        nobr {
            margin: -1px 0px -1px 0px;
            
        }
        nobr.fat{
            margin: 0px 0px -1px 0px;
        }
    }
    .fat {
        font-weight: bold;
    }
    li{ 
        list-style-type: none;
    }
    .rightParth {
        width: 100%;
        background-color: #ffffff;
    }
}
.priceConstructor {
    height: 335px;
    position: relative;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .button {
        text-decoration: none;
        border: solid #add8e6 1px;
        border-radius: 9px;
        padding: 3px;
        position: absolute;
        top: 330px;
        cursor: pointer;
        color:#000000;
    }
    .button:hover {
        cursor: pointer;
        color:#000000;
    }
}
.priceParth {
    max-width: 800px;
    padding: 0px 15px 30px 15px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    .ulPrice{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .li {
        max-width: 900px;
        padding: 5px 3px 5px 3px;
        margin: 10px 0px 10px 0px;
        height: 100px;
        border: solid black 1px;
        border-radius: 10px;
        background-color: #eaf4f6;
        display: flex;
        flex-direction: column;
        align-items: center;
        .text {
            font-size: 16px;
        }
        .title{ 
            font-size: 18px;
            color: black;
            background-color: #eaf4f6;
        }
    }
} */
@media only screen and (max-device-width: 1068px) {
  .header_2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .header_2 .title_2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0px 0px 0px 0px;
      width: 100%;
      height: 170px; }
    .header_2 .list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%; } }

@media only screen and (max-device-width: 768px) {
  .section.section.parallax.bg1 {
    max-height: 300px; }
  .header {
    background-image: unset;
    background-color: #00306f; }
  .missPlace {
    display: none; }
  .specTable {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .specialist img {
    height: 250px;
    width: 200px; }
  .mainTitle {
    width: 100%;
    margin: 15px 15px 15px 10px;
    height: 250px; }
    .mainTitle .title {
      font-size: 10vw; }
    .mainTitle nobr {
      font-size: 4vw; }
    .mainTitle .description {
      font-size: 3vw; }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .section.section.parallax.bg1 {
    height: 360px; }
  .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 1000px; }
    .list .parth_two {
      padding-top: 0px;
      margin-top: -72px;
      padding-bottom: 120px; }
      .list .parth_two .list-item .span {
        font-size: 20px; }
  section.parallax.bg2 {
    z-index: -10; }
  .list-item {
    font-size: 20px; }
  .contactTab .Inscription .InscriptionText {
    font-size: 14px; }
  .contactTab .Info .leftParth a {
    font-size: 14px; }
  .contactTab .Info .leftParth nobr {
    font-size: 10px; }
  .contactTab .Info .leftParth .title nobr {
    font-size: 18px; }
  .workList .list-item {
    font-size: 16px; }
  .workList .description {
    font-size: 12px; }
  .list {
    max-height: 500px; }
    .list .parth {
      padding: 0px; }
    .list .parth_two {
      padding-top: 40px; }
  .article_2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%; } }

@media only screen and (max-device-width: 362px) {
  .parth {
    margin-top: 140px; }
  .parth_two {
    padding-bottom: 140px; } }

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 2px;
  perspective: 2px; }

.section {
  position: relative;
  height: 95vh; }

.parallax::after {
  content: " ";
  position: absolute;
  top: -30px;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translateZ(-1px) scale(1.5);
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1; }

@-moz-document url-prefix() {
  .parallax {
    transform-style: preserve-3d; } }

.bg1::after {
  background-image: url("1.jpg");
  background-position: 0px 0px; }

.bg2::after {
  position: absolute;
  top: -30px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
  background-image: url("accounting.jpg");
  background-position: 0px 0px;
  background-repeat: no-repeat; }
  @media only screen and (max-device-height: 1000px) {
    .bg2::after {
      background-position: 0px 100px; } }
  @media only screen and (max-device-height: 800px) {
    .bg2::after {
      background-position: 0px 150px; } }
