body {
    background-image: url(Map.jpg);
    background-position: 0px -140px;
    background-repeat: no-repeat; 
}
h1{
    letter-spacing: 4px;
    font: sans-serif;
    text-align: center;
    font-weight: bold;
}
h2{
    letter-spacing: 2px;
    font: cursive;
    font-style: italic;
    text-align: center;
    font-weight: normal;
}
a{
    color: blue;
}
a:visited{
    color: darkgray;
}
p{
    color: darkslategray;
    text-indent: 20px;
}